<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngularJS controller</title>
</head>
<body>
    <h1>AngularJS应用实例</h1>
    <div ng-app="mainApp" ng-controller="studentController">
        Enter first name :<input type="text" ng-model="student.firstName"><br><br>
        Enter last name:<input type="text" ng-model="student.lastName"><br>
        您输入的名字是：{{student.fullName()}}
    </div>
    <script src="angular.min.js"></script>
    <script>
        var mainApp = angular.module("mainApp",[]);
        mainApp.controller('studentController',function ($scope) {
            $scope.student = {
                firstName: "李",
                lastName: "刚",
                fullName: function() {
                    var studentObject;
                    studentObject = $scope.student;
                    return studentObject.firstName + " " + studentObject.lastName;
                }
            }
        })
    </script>
</body>
</html>